.section-direction {
  padding: 100px 0;
}
.direction-row {
  display: flex;
  justify-content: center;
  align-items: center; /* Центрирование по вертикали (если нужно) */ 
}

.direction-box {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  cursor: pointer;
  &:hover  {
    & .mouse-wrapper {
      opacity: 1;
      animation: fadeIn 0.5s ease-in;
    }
  }
}

.direction-title {
  display: inline-flex;
  justify-content: center;
  font-family:'Arial', sans-serif;
  font-size: 40px;
  line-height: 43.2px;
  color:#cccccc;
}
.direction-slider {
  margin: 300px auto ;
  }
.direction-desc {
  width: 100%;
  margin: 0 auto;
}
.direction-boxes {
  position: relative;
  height: 183px;
  margin: 37px 0;
  padding: 30px 0 61px 0;
  background: linear-gradient(90deg, rgba(29, 29, 29, 0.36) 0%, rgba(131, 131, 131, 0.36) 50%, rgba(29, 29, 29, 0.36) 100%);
  border: 5px solid; /* Устанавливаем ширину бордера */
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; /* Задаем, как делить изображение (градиент) */
  border-image-width: 1px; /* Устанавливаем ширину бордера */
}
.blocks-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1100px;
  height: 118px;
  text-align: center;
  overflow: hidden; /* Скрываем выходящие элементы */
}
.block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color:#cccccc;
  opacity: 0;
}
@keyframes slideLeft {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(-100%);
      opacity: 0; /* Уменьшаем прозрачность при сдвиге */
  }
}
@keyframes slideIn {
  from {
      transform: translateX(-100%); /* Начинаем слева */
      opacity: 0; /* Начальная прозрачность */
  }
  to {
      transform: translateX(0);
      opacity: 1; /* Конечная прозрачность */
  }
}
.slide-in {
  animation: slideIn 1s ease-in-out forwards;
}
.slide-left {
  animation: slideLeft 2.5s ease-in-out forwards;
}

//mouse

$colorBg: #222a30;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;

$widthMouse: 52px;
$heightMouse: 88px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
  background:
    $colorOutlineFade
    linear-gradient(
      transparent 0%,
      transparent 50%,
      $colorOutline 50%,
      $colorOutline 100%
    );
}
.mouse-wrapper {
  position: absolute;
  top:50%;
  right: 0;
  opacity: 0;
}
.mouse {
  position: relative;
  @include bgGradient;
  width: $widthMouse;
  height: $heightMouse;
  border-radius: 100px;
  background-size: 100% 200%;
   animation:
    colorSlide $animDuration linear infinite,
    nudgeMouse $animDuration ease-out infinite;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
  &:before {
    width: $widthMouse - $borderMouse;
    height: $heightMouse - $borderMouse;
    background-color: $colorBg;
    border-radius: 100px;
  }
  &:after {
    background-color: $colorOutline;
    width: $sizeTrackball;
    height: $sizeTrackball;
    border-radius: 100%;
    animation: trackBallSlide $animDuration linear infinite;
  }
}

@keyframes colorSlide { 
  0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: $colorOutlineFade; }
  29.99% { 
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  30% { 
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  50% { background-position: 0% 0%; }
  51% { background-color: $colorOutlineFade; }
  59% { 
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  60% { 
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  80% { background-position: 0% 0%; }
  81% { background-color: $colorOutlineFade; }
  90%, 100% { background-color: $colorOutline; }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  6% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  15%, 19% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  36% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  45%, 49% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  66% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  75%, 79% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
}

@keyframes nudgeMouse {
  0% { transform: translateY(0); }
  20% { transform: translateY($posMouse); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posMouse); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posMouse); }
  90% { transform: translateY(0); }
}

@keyframes nudgeText {
  0% { transform: translateY(0); }
  20% { transform: translateY($posText); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posText); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posText); }
  90% { transform: translateY(0); }
}

@keyframes colorText { 
  21% { color: $colorOutlineFade; }
  30% { color: $colorOutline; }
  51% { color: $colorOutlineFade; }
  60% { color: $colorOutline; }
  81% { color: $colorOutlineFade; }
  90% { color: $colorOutline; }
}