.slider3d {
	position: relative;
	width: 314px;
	perspective: 800px;
}

.slider3d_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	will-change: transform;
	transition: transform 0.75s;
}

.slider3d_wrap > * {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	

}

.slider3d_left,
.slider3d_right {
	position: absolute;
	bottom: calc(100px + 10vmin);
	width: 8vmin;
	height: 8vmin;
	user-select: none;
	cursor: pointer;
}

.slider3d_left {left: 15vmin;}
.slider3d_right {right: 15vmin;}

/*
//
//
//
//
//
// secondary style
*/


.slider3d {
	position: absolute;
	top: 294px;
	bottom: 25vmin;
	right: 0;
	left: 0;
	margin: auto;
	user-select: none;
	width: 350px;
	//transform: rotate(-15deg);
    perspective-origin: 50% -10%;
	transition: perspective-origin .5s,
					perspective .5s;
					cursor: pointer;
}

.slider3d_wrap > * {
	top: 10%;
	height: 296px;
	border: none;
	background-size: 90% 90%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: default;
	//background:red;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	
	cursor: pointer;
	
}

.slider3d_left,
.slider3d_right {
	background:red;
	background-size: 100% 100%;
	-webkit-filter: grayscale(1);
	color: transparent;
	opacity: .5;
	transform: scaley(.6);
}

.slider3d_right {
	transform: rotate(180deg) scaley(.6);
}

.ctrl {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	min-height: 100px;
	width: 370px;
	height: 20vmin;
	user-select: none;
}

.visibility {
	position: absolute;
	top: 0;
	left: 0;
}

.visibility label {
	display: block;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.perspOrig {
	position: absolute;
	padding: 4px;
	top: 45px;
	left: 0;
}

.perspOrig input {
	width: 45px;
	text-align: center;
	outline: none;
	border: none;
	cursor: default;
}

.ctrl p {
	text-align: center;
	padding-bottom: 1vmin;
	cursor: default;
}

.perspOrig span {
	position: relative;
	top: 2px;
	left: 2px;
}

input::selection {
	background-color: #fff;
}

.perspValue {
	position: absolute;
	top: 45px;
	right: 5px;
}

[type="range"] {
	width: 200px;
}

.slideAmount {
	position: absolute;
	top: 0;
	right: 65px;
}

.slideAmount :not([class]) {
	position: relative;
	bottom: 2px;
	cursor: default;
} 

.slideAmount [class^="slide"] {
	padding: 0 5px;
	font-size: 25px;
	cursor: pointer;
}

/*.slider3d_wrap :nth-child(1) {
	background-image: url(../../../public/img/translaters.png);
}
*/
.slider3d_wrap  img {
	width: 314px;
	height: 296px;
	object-fit: cover;
	border-radius: 4px;
	opacity: 0.9;
}
